@font-face {
  font-family: 'Potrait';
  src: url('./public/fonts/Portrait-Light.woff') format('woff');
}

@font-face {
  font-family: 'ApercuLight';
  src: local('ApercuLight'),
  url('./public/fonts/ApercuLight.woff') format('woff');
}

@font-face {
  font-family: 'ApercuMedium';
  src: local('ApercuMedium'),
  url('./public/fonts/ApercuMedium.woff') format('woff');
}